<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Controle des Animais</title>
    <meta name="viewport" content="width = device-width, initial-scale =1">
    <link rel="stylesheet" media="( max-width: 800 px)" href="../css/estilo.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/stylehome.css">​​
</head>​

<body>

    <header id="header">
        <a id="logo" href="">Logo</a>
        <nav id="nav">
            <ul id="menu">
                <li><a href="/home">Home</a></li>
                <li> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Animais
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/animalCreate">Cadastrar</a>
                        <a class="dropdown-item" href="/animalList">Listar</a>
                    </div>
                </li>
                <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/usuarioCreate">Cadastrar</a>
                        <a class="dropdown-item" href="/usuarioList">Listar</a>
                    </div>
                </li>
                <li><a class="nav-link" href="/logout">Logout</a></li>

            </ul>
        </nav>
    </header>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <center> ​
        <br> <br>​
        {{{body}}}​
    </center>​



</body>​

</html>