<!DOCTYPE html>​

<html>

<head>​
    <meta name="viewport" content="width = device-width, initial-scale =1">
    <link rel="stylesheet" media="( max-width: 800 px)" href="../css/estilo.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/stylehome.css">​​

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>​

<body>

    <header id="header">
        <img src="images/logo.png">


        <nav id="nav">

            <ul id="menu">
                <li><a id="buttonmenu" class="nav-link" href="/home">Home</a></li>
                <li class="nav-item dropdown">
                    <a id="buttonmenu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="subbuttonmenu" class="dropdown-item" href="/vagasList">Vagas por Creche</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="buttonmenu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Alunos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="subbuttonmenu" class="dropdown-item" href="/criancaCreate">Cadastrar</a>
                        <a id="subbuttonmenu" class="dropdown-item" href="/criancaList">Listar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="buttonmenu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Turmas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="subbuttonmenu" class="dropdown-item" href="/turmaCreate">Cadastrar</a>
                        <a id="subbuttonmenu" class="dropdown-item" href="/turmaList">Listar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="buttonmenu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Creches
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="subbuttonmenu" class="dropdown-item" href="/crecheCreate">Cadastrar</a>
                        <a id="subbuttonmenu" class="dropdown-item" href="/crecheList">Listar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="buttonmenu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuários
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="subbuttonmenu" class="dropdown-item" href="/usuarioCreate">Cadastrar</a>
                        <a id="subbuttonmenu" class="dropdown-item" href="/usuarioList">Listar</a>
                    </div>
                </li>
                </li>
                <li><a id="buttonmenu" class="nav-link" href="/logout">Logout</a></li>

            </ul>
        </nav>
    </header>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <center> ​
        <br> <br>​
        {{{body}}}​
    </center>​


</body>

​ <div class="col-100">
    <div class="content texto-destaque ">
        <h1>Sistema para CMEI</h1>
        <p> Sistema especializado para CMEI(Centro Municipal de Educação Infantil), utilizado para gerenciamento de
            creches, turmas, pais e alunos. Sendo possivel cadastrar usuários administrador para controle geral,
            e seus diretores para gerenciamento das turmas do CMEI que o mesmo é responsavel. </p>
    </div>
</div>
<div class="col-100 bloco-imagens-texto">
    <div class="content" style="margin-left: 2%; float: left;">
        <div class="col-3 bloco-texto bloco-imagem">
            <img src="./images/adm.jpg">
            <h2>Administrador</h2>
            <p> Usuario administrados, efetuando o gerenciamento completo do sistema.
            </p>
        </div>
        <div class=" col-3 bloco-texto bloco-imagem">
            <img src="./images/diretor.jpg">
            <h2>Diretor</h2>
            <p> Usuário diretor, para gerenciamento completo da creche que o mesmo é responsavel.
            </p>
        </div>
        <div class="col-3 bloco-texto bloco-imagem">
            <img src="./images/pais.jpg">
            <h2>Pais</h2>
            <p> Acesso para os pais cadastrarem os filhos nas escolas com vagas disponiveis.
            </p>
        </div>
    </div>
    <div class="content" style="margin-left: 2%; float: left;">
        <div class="col-3 bloco-texto bloco-imagem">
            <img src="./images/alunos.jpg">
            <h2>Alunos</h2>
            <p> Acesso para visualizar a listagem de todos os alunos cadastrados em cada escola e turma.
            </p>
        </div>
        <div class="col-3 bloco-texto bloco-imagem">
            <img src="./images/relatorio.jpg">
            <h2>Relatorio</h2>
            <p> Funcionalidade para realizar a geração de relatórios.
            </p>
        </div>
        <div class="col-3 bloco-texto bloco-imagem">
            <img src="./images/escola.jpg">
            <h2>Escolas</h2>
            <p> Cadastro de escolas, diretor e turmas.
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/migrate.js"></script>
<script type="text/javascript" src="./js/slick.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>

</html>