<form action="/crecheEdit" method="POST">
    <input type="hidden" name="id" value="{{creches._id}}">
    <p>Nome: </p> <input type="text" name="nome" value="{{creches.nome}}">
    <p>Endereço da Creche: </p> <input type="text" name="endereco" value="{{creches.endereco}}">
    <p>Bairro: </p> <input type="text" name="bairro" value="{{creches.bairro}}">
    <br><br>
    <input type="submit" value="Editar">
</form>