<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>

<body>
    <section>

        <h1>Cadastrar Creche</h1>
        <form action="/crecheCreate" method="POST"> ​​
            <fieldset>
                <div class="container">
                    <label for="text">Nome da creche:</label>
                    <input type="text" name="nome" placeholder="Digite o nome da creche"><br>
                </div>
                <div class="container">
                    <label for="text">Endereço da Creche:</label>
                    <input type="text" name="endereco" placeholder="Digite o endereço da creche"><br>
                </div>
                <div class="container">
                    <label for="text">Bairro da Creche:</label>
                    <input type="text" name="bairro" placeholder="Digite o bairro da creche"><br><br>
                </div>
            </fieldset>

            <div>
                <input id="buttoncadastro" type="submit" value="Cadastrar">
            </div>
        </form>
    </section>
</body>
​