<form action="/animalCreate" method="POST" enctype="multipart/form-data"> ​
    Nome: <input type="text" name="nome">​
    <br> <br>
    RG: <input type="text" name="rg">​
    <br> <br>​
    Nome do Responsável: <input type="text" name="nomedopai">​
    <br> <br>​
    Endereço: <input type="text" name="endereco">​
    <br> <br>
    Bairro: <input type="text" name="bairro">​
    <br> <br>​
    Data de Nascimento: <input type="calendar" name="datanasc">​
    <br> <br>​
    Turma: <input type="text" name="turma">
    <br> <br>​
    <input type="submit" value="Cadastrar">​
</form>​