<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>

<body>
    <section>

        <h1>Cadastrar Turmas</h1>
        <form action="/turmaCreate" method="POST">
            <fieldset>
                <div class="container">
                    <label for="text">Nome da creche:</label>
                    <input type="text" name="creche" placeholder="Digite o nome da creche"><br>
                </div>
                <div class="container">
                    <label for="text">Nome da turma:</label>
                    <input type="text" name="turma" placeholder="Digite o nome da turma"><br>
                </div>
                <div class="container">
                    <label for="text">Quantidade de alunos:</label>
                    <input type="text" name="qtalunos" placeholder="Digite a quantidade de alunos"><br>
                </div>
                <div class="container">
                    <label for="text">Quantidade de vagas:</label>
                    <input type="text" name="qtdvagas" placeholder="Digite a quantidade de vagas"><br><br>
            </fieldset>

            <div>
                <input id="buttoncadastro" type="submit" value="Cadastrar">
            </div>
        </form>
    </section>
</body>​