<form action="/turmaCreate" method="POST" enctype="multipart/form-data"> ​
    Creche: <input type="text" name="creche">​
    <br> <br>​
    Identificador: <input type="text" name="identificador">​
    <br> <br>​
    Qauntida de Alunos: <input type="text" name="qtalunos">​
    <br> <br>​
    Quantidade de Vagas: <input type="text" name="qtdvagas">​​
    <br> <br>​
    <input type="submit" value="Cadastrar">​
</form>​
