<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>

<body>
    <section>

        <h1>Cadastrar Aluno</h1>
        <form action="/criancaCreate" method="POST"> ​
            <fieldset>
                <div class="container">

                    <label>Nome do Aluno</label>
                    <input type="text" name="nome" placeholder="Digite o nome do aluno">
                    <label></label>
                </div>
                <div class="container">

                    <label>Registro Geral</label>
                    <input type="text" name="rg" placeholder="Digite o RG do aluno">

                    <label></label>
                </div>
                <div class="container">

                    <label>Responsável</label>
                    <input type="text" name="nomedopai" placeholder="Digite o nome do responsável do aluno">​
                    <label></label>
                </div>
                <div class="container">

                    <label>Endereço</label>
                    <input type="text" name="endereco" placeholder=" Digite avenida, rua, rodovia...  ">​
                    <label></label>
                </div>
                <div class="container">

                    <label>Bairro</label>
                    <input type="text" name="bairro" placeholder="Digite o bairro do aluno">
                    <label></label>
                </div>
                <div class="container">

                    <label>Data de Nascimento</label>
                    <input type="date" name="datanasc" placeholder="Digite a data de nascimento do aluno">

                </div>
                <div class="container">
                    
                    <label>Turma</label>
                    <input type="text" name="turma" placeholder="Digite o nome da turma do aluno">
                    <label></label>
                </div>
            </fieldset>

            <div>
                <input id="buttoncadastro" type="submit" value="Cadastrar">
            </div>
        </form>
    </section>
</body>
​