​<form action="/animalCreate" method="POST" enctype="multipart/form-data"> ​
    Nome: <input type="text" name="nome">​
    <br> <br>​
    Nome do Proprietario: <input type="text" name="nomeDoProprietario">​
    <br> <br>​
    Endereço: <input type="text" name="endereco">​
    <br> <br>​
    Tipo: <input type="text" name="tipo">​
    <br> <br>​
    Raça: <input type="text" name="raca">
    <br> <br>
    Imagem: <input type="file" id="imagem" name="imagem">​
    <br> <br>​
    <input type="submit" value="Cadastrar">​
</form>
