<form action="/login" method="post">

    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <div id="login-conteiner">
        <center> ​
            <h1><b>Logo</b></h1>
            <br>
            <label for="text">Usuario</label>
            <input type="text" name="login" id="login" placeholder="Digite seu usuario">
            <br>
            <label for="password">Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha">
            <br>
            <input type="submit" value="Logar">​​​
            {{{body}}}
            <script> function recuperarSenha() { window.location.href = "recuperarSenha/" + document.getElementById("login").value }</script>
            <button id="button-recuperarSenha" onclick=recuperarSenha()> Recupear Senha </button>
            <br>​
        </center>
    </div>
        
</form>