<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>


<body>
    <section>

        <h1>Cadastrar Usuario</h1>
        <form action="/usuarioCreate" method="post">
            <fieldset>
                <div class="container">
                    <label for="text">Nome usuario:</label>
                    <input type="text" name="nome" placeholder="Digite seu nome"><br>
                </div>
                <div class="container">
                    <label for="text">Data de Nascimento:</label>
                    <input type="date" name="datanasc" placeholder="Digite sua Data de Nascimento"><br>
                </div>
                <div class="container">
                    <label for="text">E-mail:</label>
                    <input type="text" name="email" placeholder="Digite seu e-mail"><br>
                </div>
                <div class="container">
                    <label for="text">Login:</label>
                    <input type="text" name="login" placeholder="Digite seu login"><br>
                </div>
                <div class="container">
                    <label for="text">Senha:</label>
                    <input type="password" name="senha" placeholder="Digite sua senha"><br>
                </div>
                <div class="container">
                    <label for="text">Pergunta secreta:</label>
                    <input type="text" name="pergunta_secreta" placeholder="Digite uma pergunta secreta"><br>
                </div>
                <div class="container">
                    <label for="text">Resposta pergunta secreta:</label>
                    <input type="text" name="resposta_pergunta"
                        placeholder="Digite a resposta da pergunta secreta"><br>
                </div>
                <div class="container">
                    <label for="text">Grupo Usuário:</label>
                    <input type="text" name="tipo" placeholder="Digite seu grupo"><br>
                </div>
            </fieldset>

            <div>
                <input id="buttoncadastro" type="submit" value="Cadastrar">
            </div>
        </form>
    </section>
</body>

</html>