<table border="1px">​
    <tr>​
        <td> Nome </td>​
        <td> Ingredientes</td>​
        <td> Modo de preparo</td>
    </tr>​
    {{#each receitas}}​
    <tr>​
        <td>{{nome}}</td>​
        <td>{{ingredientes}}</td>​
        <td>{{preparo}}</td>
    </tr>​
    {{/each}}​
</table>